input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[id="email"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[id="password"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[id='signUp'] {
  width: 100%;
  background-color: #1c122bdc;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[id='signUp']:hover {
  background-color: #1c122b;
}

div {
  border-radius: 5px;
  background-color: #7b6691;
  padding: 20px;

}

#majors_box {
  border-style: double;
}

/* Modal Content/Box */
.modal-content {
  background-color: #1c122b;
  margin: 4% auto;
  /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  width: 50%;
  /* Could be more or less, depending on screen size */
}

h2 {
  text-align: center;
  color: #bfb1ce;
}

body {
  background-color: #bfb1ce;
}

#info {
  text-align: center;
}

#meeting_time {
  border-style: double;
}

p{
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1c122b;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #1c122b;
}