/*body*/
body {
    background-color: #bfb1ce;
}

/*Navigation Bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1c122b;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #1c122b;
}

/*Search For Studygroup Content*/
#info{
    border-radius: 5px;
    background-color: #7b6691;
    padding: 20px;
    text-align: center;
}

input[type=text],
select {
    width: 100%;
    padding: 5px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*Search for Studygroup modal*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal_content {
    background-color: #1c122b;
    margin: 4% auto;
    /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 50%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /*Search button*/
  button[id='search_btn'] {
    width: 100%;
    background-color: #1c122bdc;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[id='search_btn']:hover {
    background-color: #1c122b;
}

table{
    text-align: center;
    margin-top: 70px;
    padding: 10px;
    background-color:  #1c122b;
    
}

th {
    background-color: #9a8aab;
    color:#1c122b;
  }
  tr {
    background-color: #9a8aab;
    color:#1c122b;
  }
  
h2{
    text-align: center;
    color: #1c122b;
    margin-top: 50px;
}


#studygroup_modal{
    display: inline-block;
    background-color:#7b6691;
    border: #1c122b;
    border-style:double;
    border-radius: 10px;
    border-width: 10px;
    border-color: #1c122b;
    padding: 10px;
    margin: 40px;
    text-align: center;
    width: 40%;
    white-space: nowrap;
}

#meeting_times{
    border: #1c122b;
    border-style:double;
    border-radius: 10px;
}

#participants{
   border: #1c122b;
    border-style:double;
    border-radius: 10px;
}

#name0::before{
     content: "STUDYGROUP NAME: ";    
}

#is_public0::before{
    content: "PUBLIC: ";    
}

#max_participants0::before{
    content: "MAX-PARTICIPANTS: ";    
}

#start_date0::before{
    content: "START DATE: ";    
}

#end_date0::before{
    content: "END DATE: ";    
}

#school0::before{
    content: "SCHOOL: ";    
}

#description0::before{
    content: "DESCRIPTION: ";    
}

#course_number0::before{
    content: "COURSE NUMBER: ";    
}

#day0::before{
    display: inline-block;
    content: "DAY: ";    
}

#time0::before{
    display: inline-block;
    content: "TIME: ";    
}

#location0::before{
    display: inline-block;
    content: "LOCATION: ";    
}


#name1::before{
    content: "STUDYGROUP NAME: ";    
}

#is_public1::before{
   content: "PUBLIC: ";    
}

#max_participants1::before{
   content: "MAX-PARTICIPANTS: ";    
}

#start_date1::before{
   content: "START DATE: ";    
}

#end_date1::before{
   content: "END DATE: ";    
}

#school1::before{
   content: "SCHOOL: ";    
}

#description1::before{
   content: "DESCRIPTION: ";    
}

#course_number1::before{
   content: "COURSE NUMBER: ";    
}

#day1::before{
   display: inline-block;
   content: "DAY: ";    
}

#time1::before{
   display: inline-block;
   content: "TIME: ";    
}

#location1::before{
   display: inline-block;
   content: "LOCATION: ";    
}

button[id='editBtn0'] {
    width: 40%;
    background-color: #1c122bdc;
    color: white;
    padding: 14px 40px;
    margin: 8px 3px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[id='editBtn0']:hover {
    background-color: #1c122b;
}

button[id='deleteBtn0'] {
   width: 40%;
   background-color: #1c122bdc;
   color: white;
   padding: 14px 40px;
   margin: 8px 3px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

button[id='deleteBtn0']:hover {
   background-color: #1c122b;
}

button[id='editBtn1'] {
   width: 40%;
   background-color: #1c122bdc;
   color: white;
   padding: 14px 40px;
   margin: 8px 3px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

button[id='editBtn1']:hover {
    background-color: #1c122b;
}

button[id='deleteBtn1'] {
   width: 40%;
   background-color: #1c122bdc;
   color: white;
   padding: 14px 40px;
   margin: 8px 3px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

button[id='deleteBtn1']:hover {
   background-color: #1c122b;
}

#name2::before{
    content: "STUDYGROUP NAME: ";    
}

#is_public2::before{
   content: "PUBLIC: ";    
}

#max_participants2::before{
   content: "MAX-PARTICIPANTS: ";    
}

#start_date2::before{
   content: "START DATE: ";    
}

#end_date2::before{
   content: "END DATE: ";    
}

#school2::before{
   content: "SCHOOL: ";    
}

#description2::before{
   content: "DESCRIPTION: ";    
}

#course_number2::before{
   content: "COURSE NUMBER: ";    
}

#day2::before{
   display: inline-block;
   content: "DAY: ";    
}

#time2::before{
   display: inline-block;
   content: "TIME: ";    
}

#location2::before{
   display: inline-block;
   content: "LOCATION: ";    
}

button[id='editBtn2'] {
   width: 40%;
   background-color: #1c122bdc;
   color: white;
   padding: 14px 40px;
   margin: 8px 3px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

button[id='editBtn2']:hover {
    background-color: #1c122b;
}
button[id='deleteBtn2'] {
   width: 40%;
   background-color: #1c122bdc;
   color: white;
   padding: 14px 40px;
   margin: 8px 3px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

button[id='deleteBtn2']:hover {
   background-color: #1c122b;
}

button[id='my_studygroups'] {
    width: 30%;
    background-color: #1c122bdc;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-left: 435px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

button[id='my_studygroups']:hover {
    background-color: #1c122b;
}

#name::before{
    content: "STUDYGROUP NAME: ";    
}
#is_public::before{
    content: "PUBLIC: ";    
 }
 
 #max_participants::before{
    content: "MAX-PARTICIPANTS: ";    
 }
 
 #start_date::before{
    content: "START DATE: ";    
 }
 
 #end_date::before{
    content: "END DATE: ";    
 }
 
 #school::before{
    content: "SCHOOL: ";    
 }
 
 #description::before{
    content: "DESCRIPTION: ";    
 }
 
 #course_number::before{
    content: "COURSE NUMBER: ";    
 }
 
 #day::before{
    display: inline-block;
    content: "DAY: ";    
 }
 
 #time::before{
    display: inline-block;
    content: "TIME: ";    
 }
 
 #location::before{
    display: inline-block;
    content: "LOCATION: ";    
 }
 
 button[id='editBtn'] {
     width: 100%;
     background-color: #1c122bdc;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     border-radius: 4px;
     cursor: pointer;
 }
 
 button[id='editBtn']:hover {
     background-color: #1c122b;
 }
 
 #name3::before{
    content: "STUDYGROUP NAME: ";    
}
#is_public3::before{
    content: "PUBLIC: ";    
 }
 
 #max_participants3::before{
    content: "MAX-PARTICIPANTS: ";    
 }
 
 #start_date3::before{
    content: "START DATE: ";    
 }
 
 #end_date3::before{
    content: "END DATE: ";    
 }
 
 #school3::before{
    content: "SCHOOL: ";    
 }
 
 #description3::before{
    content: "DESCRIPTION: ";    
 }
 
 #course_number3::before{
    content: "COURSE NUMBER: ";    
 }
 
 #day3::before{
    display: inline-block;
    content: "DAY: ";    
 }
 
 #time3::before{
    display: inline-block;
    content: "TIME: ";    
 }
 
 #location3::before{
    display: inline-block;
    content: "LOCATION: ";    
 }
 
 button[id='editBtn3'] {
   width: 40%;
   background-color: #1c122bdc;
   color: white;
   padding: 14px 40px;
   margin: 8px 3px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }
 
 button[id='editBtn3']:hover {
     background-color: #1c122b;
 }
 
 button[id='deleteBtn3'] {
   width: 40%;
   background-color: #1c122bdc;
   color: white;
   padding: 14px 40px;
   margin: 8px 3px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

button[id='deleteBtn3']:hover {
   background-color: #1c122b;
}
 
 #name4::before{
    content: "STUDYGROUP NAME: ";    
}
#is_public4::before{
    content: "PUBLIC: ";    
 }
 
 #max_participants4::before{
    content: "MAX-PARTICIPANTS: ";    
 }
 
 #start_date4::before{
    content: "START DATE: ";    
 }
 
 #end_date4::before{
    content: "END DATE: ";    
 }
 
 #school4::before{
    content: "SCHOOL: ";    
 }
 
 #description4::before{
    content: "DESCRIPTION: ";    
 }
 
 #course_number4::before{
    content: "COURSE NUMBER: ";    
 }
 
 #day4::before{
    display: inline-block;
    content: "DAY: ";    
 }
 
 #time4::before{
    display: inline-block;
    content: "TIME: ";    
 }
 
 #location4::before{
    display: inline-block;
    content: "LOCATION: ";    
 }
 
 button[id='editBtn4'] {
     width: 40%;
     background-color: #1c122bdc;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     border-radius: 4px;
     cursor: pointer;
 }
 
 button[id='editBtn4']:hover {
     background-color: #1c122b;
 }

 button[id='deleteBtn4'] {
   width: 40%;
   background-color: #1c122bdc;
   color: white;
   padding: 14px 40px;
   margin: 8px 3px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

button[id='deleteBtn4']:hover {
   background-color: #1c122b;
}
 
button[id='add1'] {
   width: 100%;
   background-color: #1c122bdc;
   color: white;
   padding: 14px 40px;
   margin: 8px 3px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

button[id='add1']:hover {
   background-color: #1c122b;
}
 
button[id='add2'] {
   width: 100%;
   background-color: #1c122bdc;
   color: white;
   padding: 14px 40px;
   margin: 8px 3px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

button[id='add2']:hover {
   background-color: #1c122b;
}

button[id='remove1'] {
   width: 100%;
   background-color: #1c122bdc;
   color: white;
   padding: 14px 40px;
   margin: 8px 3px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

button[id='remove1']:hover {
   background-color: #1c122b;
}

button[id='remove2'] {
   width: 100%;
   background-color: #1c122bdc;
   color: white;
   padding: 14px 40px;
   margin: 8px 3px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

button[id='remove2']:hover {
   background-color: #1c122b;
}